<!DOCTYPE html>
<html>
    <head>
        <title>Skylar's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Skylar's Blog</a></h1>
        </header>

        <article>
            <time>published: 4/22/2024, 21:45</time>
            <h2><a href="">My First Post</a></h2>
            <p>Test Paragraph</p>
        </article>

        <article>
            <time>published: 4/22/2024, 21:46</time>
            <h2><a href="">My Second Post</a></h2>
            <p>Second Test Paragraph</p>
        </article>
    </body>
</html>